<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <h1>Create a room</h1>
    <form action="" method="post">
        <input type="text" placeholder="enter a name..." name="Name">
        <select name="Category">
            <option value="">All</option>
            <option value="artliterature">artliterature</option>
            <option value="language">language</option>
            <option value="sciencenature">sciencenature</option>
            <option value="general">general</option>
            <option value="fooddrink">food and drink</option>
            <option value="peopleplaces">people and places</option>
            <option value="geography">geography</option>
            <option value="historyholidays">history and holidays</option>
            <option value="entertainment">entertainment</option>
            <option value="toysgames">toys and games</option>
            <option value="music">music</option>
            <option value="mathematics">math</option>
            <option value="religionmythology">religion and mythology</option>
            <option value="sportsleisure">sports and leisure</option>
        </select>
        <input type="submit" value="create room">
    </form>
</body>
</html>
